.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f8f8f6;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 16px;
}

.signup-card {
  background: #fcfcfc;
  padding: 36px 36px 44px 36px;
  border-radius: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.14);
  width: 100%;
  max-width: 400px;
  text-align: center;
  animation: floatUp 0.5s ease-out;

  .signup-logo {
    max-width: 120px;
    margin-bottom: 8px;
  }

  h1 {
    margin-bottom: 8px;
    font-size: 2rem;
    font-weight: 700;
  }

  .signup-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 8px;
  }

  .signup-subtitle {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #666;
    margin-top: 0px;
    margin-bottom: 32px;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      padding: 14px 12px;
      margin-bottom: 16px;
      font-size: 0.85rem !important;
      border: 1px solid #BBB;
      border-radius: 6px;
      outline: none;
      // transition: border 0s ease-in;

      &:hover {
        border-color: #b22b2b;
      }
    }

    button {
      padding: 14px;
      background: #b22b2b;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background: #e20023;
      }
    }
  }

  

  .login-links {
    margin-top: 24px;
    font-size: 0.85rem;
    color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    div{
      color: #888;
    }
    a {
      color: #b22b2b;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
        color: #e20023;
      }
    }

    span {
      margin: 0 4px;
      color: #888;
    }
  }
}

/* Optional dark mode adjustments */
.dark-mode {
  .signup-page {
    background: #000;
  }
  .signup-card {
    background: #111;
    color: #f2f2f3;

    .signup-subtitle {
      color: #aaa;
    }
    input {
      background: #222;
      color: #f2f2f3;
      border: 1px solid #444;
      &:focus {
        border-color: #ff4c4c;
      }
    }
    button {
      background: #ff4c4c;
      &:hover {
        background: #ff2323;
      }
    }
    .login-links a {
      color: #BBB;
      &:hover {
        color: #ff4c4c;
      }
    }
  }
}

/* Optional animation */
@keyframes floatUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  20% {
    transform: translateY(10px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

