.product-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  &.fade-in { animation: fadeIn 0.3s forwards; }
  &.fade-out { animation: fadeOut 0.3s forwards; }
}

.product-modal {
  margin: 16px;;
  padding: 24px;
  border-radius: 12px;
  
  width: calc(100% - 64px);
  max-width: 1440px;
  max-height: calc(-96px + 100vh);
  
  background: #fff;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  
  @media (max-width: 870px) {
    margin: 0;
    width: calc(100vw);
    max-height: calc(100dvh - env(safe-area-inset-bottom));
  }

  &.dark {
    background: #111;
    color: #f2f2f3;
    .product-card{
      background-color: #070710 !important;
      &:hover {
        background-color: #020502 !important;
        box-shadow: 0.1px 0.23px 2px 0 rgba(250, 253, 255, 0.108) !important;
      }
    }
    .close-button { 
      background-color: #e8e8e6bb;
     }
    
    .right{
      .button-wrap{
        .name-title-wrap { 
          .product-name{
            color: #f2f2f3 !important; 
          }
        }
        .subtitle{
          color: #aaa !important;
        }
        .btn-inner-wrap-top{
          box-shadow: 0.1px 0.23px 2px 0 rgba(250, 253, 255, 0.308) !important;
          @media (max-width: 870px) {
            &{
              box-shadow: none !important;
            }
          }
          
          .name-title-wrap{
            .price {
              .currency{
                color:#bbbbbb !important;
                
              }
            }
          }

          .quantity-control{
            color:black !important;
            .quantity-button {
              background-color: rgb(221, 222, 223) !important;
              &:hover{
                background-color: rgb(211, 212, 213) !important;
              }
            
            }
            .quantity-dropdown{
              background: #c0c0c0 !important;
              // border: 1px solid #23232323 !important;
              // box-shadow: 0px 1px 5px rgba(55, 55, 55, 0.1) !important;
              
              div.option {
                
                &:hover {
                  background: #bababa !important;
                }
              }
            }
          }
        }
        
        .btn-inner-wrap-bot{
          .top-text{
            .text-img-wrap{
              .qualityGuaranteed{
                color: #f2f2f3  !important;
              }
            }
          }
          .qualityPromise{
            color: #aaa !important;
          }
        }

      }
    }

    .name-title-wrap .subtitle { color: #bbb; }
    .suggestions { border-color: #333; }
    .suggestions .suggestion-title h2 { color: #f2f2f3; }
    .product-description .description-title h2 { color: #f2f2f3; }
    .product-description p { color: #bbb; }
    .product-disclaimer{ color: #bbb; }
  }
  .close-button {
    position: sticky;
    top: calc(env(safe-area-inset-top, 0px) + 8px);
    left: calc(env(safe-area-inset-left, 0px) + 16px);
    width: 32px !important;
    height: 32px !important;
    min-width: 32px !important;
    min-height: 32px !important;
    max-width: 32px !important;
    max-height: 32px !important;
    border-radius: 50% !important;
    font-size: 1.8rem;
    border: none;
    background: none;
    color: #777;
    cursor: pointer;
    box-shadow: 0.2px 0.5px 2px rgba(0, 0, 0, 0.17);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    @media (max-width: 870px) {
      position: fixed;
      left: 24px;
      top: 24px;
    }
  
    img {
      height: 20px;
      width: 20px;
    }
  
    &:hover {
      background-color: rgba(255, 0, 0, 0.75) !important;
      img {
        filter: invert(1);
      }
    }
  }


  .modal-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 32px 16px 0px;
    gap: 24px;
    
    @media (max-width: 870px) {
      display: flex;
      flex-direction: column;
      padding: 24px 0px 0px;
    }

    .left {
      flex: 1;

      .image-container {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 12px;
        cursor: zoom-in;
        @media (max-width: 870px) {
          height: 248px !important;
          min-height: 248px;
          max-height: 248px;
        }
      
        img.main-image {
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: transform 0.2s ease;
        
          &.zooming {
            transform: scale(1.8);
          }
        }
      }      
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: row;
      gap: 16px;
      width: 100%;
      max-width: 604px;
      margin-left: auto;
      @media (max-width: 870px) {
        display: flex;
        flex-direction: column;
        max-width: none;
      }
      
      .name-title-wrap{
        width: 100%;
        .product-name {
          margin-top: 0px;
          text-align: left;
          font-size: 1.8rem;
          font-weight: 700;
          margin-bottom: 0px;
          color: rgb(36, 37, 41);
        }

      }
      .subtitle {
        font-size: 0.95rem;
        color: #777;
        margin-bottom: 20px;;
      }
      .button-wrap{
        margin-bottom: 16px;
        width: 100%;
        height: fit-content;

        .btn-inner-wrap-top{
          box-shadow: 0.1px 0.23px 2px 0 rgba(5, 2, 0, 0.308);
          padding: 24px;
          border-radius: 12px;
          
          @media (max-width: 870px) {
            & {
              padding: 0px;
              box-shadow: none;
            }
          }

          .name-title-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .price {
              font-size: 0.95rem;
              line-height: 28px;
              font-weight: 600;
              font-variation-settings: "wght" 600, "opsz" 32;
              --ids-typography-name: mobile/title;
              color: #28a745;
              transform: translateY(-6px);
              .currency{
                color:#666; 
              }
            }
          }

          
          .thumbnail-row {
            display: flex;
            justify-content: left;
            gap: 8px;
            margin-top: 12x;
            margin-bottom: 20px;
            
            .thumbnail-wrapper {
              display: flex;
              flex-direction: column;
              align-items: center;
              position: relative;
              .thumbnail-bar {
                position: absolute;
                bottom: 0; /* pin to the bottom inside the container */
                left: 0;
                width: 100%;
                height: 3px;
                background-color: transparent;
                transition: background-color 0.3s ease-out;
                border-radius: 1.5px;
                transform: translateY(8px);

              &.active {
                transition: background-color 0.15s ease-out;
                background-color: #e4e4e4 !important;
              }
            }
        
            &:hover .thumbnail-bar {    
            transition: background-color 0.02s ease-out;   
              background-color: #f0f0f0;
            }
        } 

            .thumbnail-container {
              overflow: hidden;
              width: 60px;
              height: 60px;
              border-radius: 6px;
                img.thumbnail {
                  width: 60px;
                  height: 60px;
                  object-fit: cover;
                  cursor: pointer;
                }
            }
          }
          
          .quantity-control {
            position: relative;
            width: 100%;
            z-index: 2;

            .quantity-button {
              box-sizing: border-box;
              touch-action: manipulation;
              text-align: center;
              padding: 0px 16px;
              min-width: 180px;
              width: 100%;
              height: 56px;
              font-size: 1rem;
              margin-bottom: 16px;
              border-radius: 12px;
              background-color: rgb(241, 242, 243);
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: space-between;
              align-items: center;
              
              &:hover{
                background-color: rgb(231, 232, 233);
              }

              .arrow{
                transform: scale(1.25, 0.85);
                color: #343538;
    
              }
            }
            
            .quantity-dropdown {
              position: absolute;
              top: calc(100% - 12px);
              // left: 0;
              width: 100%;
              background: rgb(251, 252, 253);
              // border: 1px solid #cccccc23;
              box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
              border-radius: 0 0 8px 8px;
              overflow-y: auto;
              z-index: -1;
              scrollbar-width: none;
              max-height: 0;
              
              // overflow: hidden;
              
              // pointer-events: none;
              opacity: 0;
              transform: translateY(-16px);

              transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.1s ease-out;
              &.open {
                
                max-height: 200px;
                opacity: 1;
                pointer-events: auto;
                transform: translateY(0px);
                transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.1s ease-out;
                // 
              }
            
    
              div.option.block{
                &:hover {
                  background-color: inherit !important;
                  cursor: default;
                }
              }
              div.option {
                padding: 8px 16px;
                cursor: pointer;
                transition: all 0.02s ease-out;
                &.block{
                  &:hover {
                    background: black;
                  }
                }
                &:hover {
                  background: #f0f0f0;
                }
              }
            }
          }
    
          .button-group {
            display: flex;
            gap: 12px;
            button {
              flex: 1;
              padding: 12px;
              font-size: 1rem;
              border: none;
              border-radius: 12px;
              height: 56px;
              cursor: pointer;
              &.add-to-cart {
                font-weight: 500;
                background: #e20023;
                color: #fff;
                &:hover {
                  background: #b22b2b;
                }
              }
              &.buy-now {
                
                background: #444;
                color: #fff;
                &:hover {
                  background: #272727;
                  // color:black;
                }
              }
            }
          }
        }
        .btn-inner-wrap-bot{
          margin-top: 16px;
          margin-left: 16px;
          line-height: 1.2;
          text-align: right;
          text-align: right;
          padding-right: 24px;
          
          @media (max-width: 870px) {
            padding-right: 0px;
            margin-left: 0;
          }
          .top-text{
            // background-color: red;
            
            
            .text-img-wrap{
              
            
              display: flex;
              // justify-content: center;
              justify-content: right;
              align-items: center;
              
              font-weight: 500;
              font-size: 0.9rem;
              .img-wrap{
                filter: brightness(120%);
                margin-right: 4px;
                background-color: rgb(229, 52, 29);
                  width: 18px;
                  height: 18px;
                  border-radius: 50%;
                  overflow: hidden;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                img{
                  width: 100%;
                  height: 100%;
                  transform: scale(1.3);
                }
              }
              .qualityGuaranteed{
                color:#222;
                // text-decoration: underline;
                // transform: translateY(-1px);
              
              }
            }


          }
          .qualityPromise{
            text-transform: uppercase;
            font-size: 0.8rem;
            color: #777;
            margin-left: 20px;
            margin-top: 4px;
          }

        }

      }





    }
  }

  .suggestions {
    border-radius: 12px;
    margin: 32px 0px 24px 0;
    @media (max-width: 870px) {
      margin-top: 12px;

    }

    h3 {
      font-size: 1.2rem;
      margin-bottom: 12px;
    }

    .suggestion-title {
      text-align: left;
      padding: 16px 16px 0px 16px;
      display: flex;
      justify-content: left;
      align-items: left;
      @media (max-width: 870px){
        padding: 48px 0px 8px 0px;
      }
      h2 {
        margin: 0;
        font-size: 24px;
        line-height: 28px;
        --ids-typography-name: web/title;
      }
    }
    .suggested-item.skeleton {
      background: #f0f0f0;
      border-radius: 12px;
      position: relative;
      overflow: hidden;
    
      .skeleton-box {
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #f0f0f0 25%, #e6e6e6 50%, #f0f0f0 75%);
        background-size: 400% 100%;
        animation: shimmer 1.2s ease-in-out infinite;
        border-radius: 12px;
      }
    }
    
    @keyframes shimmer {
      0% { background-position: -400% 0; }
      100% { background-position: 400% 0; }
    }
    
    .suggested-items {
      
      display: flex;
      gap: 12px;
      overflow-x: auto;
      padding: 16px;
      @media (max-width: 870px){
        padding: 16px 0px 16px 0px;
      }
      &.horizontal-scroll {
        display: flex;
        gap: 12px;
        overflow-x: auto;
        padding-bottom: 8px;
      
        &::-webkit-scrollbar {
          height: 8px;
        }
        &::-webkit-scrollbar-thumb {
          background: #ccc;
          border-radius: 4px;
        }
        &::-webkit-scrollbar-track {
          background: transparent;
        }
      }
      

      .suggested-item {
        // background-color: red !important;
        .product-card{
          background-color: #f8f8f8;
          width: 256px !important;
          &:hover {
            // box-shadow: none;
            background-color: #f4f4f4;
          }
          .product-image-wrap {
            transform: scale(0.8);
          }
        }

      }
    }
  }
    .product-description {
      margin-top: 8px;
      margin-left: 14px;
      @media (max-width: 870px){
        margin-left: 0px;
      }
      .description-title {
        text-align: left;
        // padding: 16px;
        display: flex;
        justify-content: left;
        align-items: left;
        h2 {
          font-weight: 700;
          font-variation-settings: "wght" 600, "opsz" 8;
          --ids-typography-name: mobile/bodyEmphasized;
          color: rgb(52, 53, 58);
          font-size: 1rem;
          line-height: 20px;
          --ids-typography-name: web/bodyEmphasized;
          margin: 4px 0px;
        }
      }

      p {
        margin-top:0;
        font-weight: 400;
        font-variation-settings: "wght" 400, "opsz" 8;
        --ids-typography-name: mobile/bodyRegular;
        color: rgb(114, 118, 126);
      }

      
    }
    .product-disclaimer {
      // margin-top: 24px;
      padding: 12px 0px;
      font-size: 14px;
      color: #777;
      border-top: 1px solid #ddd;
      line-height: 1.4;
      margin: 0px 15px;
      @media (max-width: 870px){
        margin-left: 0px;
      }
      p:first-child{
        // background-color: red;
        margin-bottom: 0;
      }
      p:last-child{
        // background-color: red;
        margin: 0;
      }
      .dark & {
        color: #aaa;
        border-top: 1px solid #333;
      }
    }  
}

@keyframes fadeIn {
  from {
    opacity: 0;
    // transform: scale(0.95);
  }
  to {
    opacity: 1;
    // transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    // transform: scale(1);
  }
  to {
    opacity: 0;
    // transform: scale(0.95);
  }
}

