.product-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color:rgba(8, 8, 8, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  
  &.fade-in { animation: fadeIn 0.3s forwards; }
  &.fade-out { animation: fadeOut 0.3s forwards; }
}

.product-modal {
  margin: 16px;;
  padding: 24px;
  border-radius: 12px;
  
  width: calc(100% - 64px);
  max-width: 1440px;
  max-height: calc(-96px + 100vh);
  
  background-color:#ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  z-index: 101;
  @media (max-width: 870px) {
    margin: 0;
    width: calc(100vw);
    max-height: calc(100dvh - env(safe-area-inset-bottom));
  }

  &.dark {
    background-color:#111;
    color: #f2f2f3;
    .product-card{
      background-color: #070710 !important;
      &:hover {
        background-color: #010728 !important;
        // background-color: #010B3D09 !important;
        // box-shadow: 0.1px 0.5px 2px 0 rgba(3, 20, 168, 0.358) !important;
      }
    }
    .close-button { 
      background-color: #e8e8e6bb;
     }
    
    .right{
      .button-wrap{
        .name-title-wrap { 
          .product-name{
            color: #f2f2f3 !important; 
          }
        }
        .subtitle{
          color: #b2b2b3 !important;
        }
        .btn-inner-wrap-top{
          box-shadow: 0.1px 0.23px 2px 0 rgba(250, 253, 255, 0.308) !important;
          @media (max-width: 870px) {
            &{
              box-shadow: none !important;
            }
          }
          
          .name-title-wrap{
            .price {
              color: #f2f2f3 !important;
              .currency{
                color:#b2b2b3 !important;
                
              }
            }
          }

          .button-group{
            .add-to-bag{
              // background-color: #c20003 !important;
              &:hover {
                background-color:#30C544 !important;
                // color:black;
              }
            }
            .buy-now {
              background-color: #e2e2e3 !important;
              color: #020203 !important;
              &:hover {
                background-color:#fbfbfb !important;
                // color:black;
              }
            }
          }
          .quantity-control{
            color:black !important;
            
            .quantity-button {
              background-color: #323233 !important;
              color:#f2f2f3;
              // justify-content: center;
              // align-items: center;


              span{
                color:#f2f2f3;
              }
              
              &:hover{
                background-color: #626263 !important;
              }
            
            }
            .quantity-dropdown{
              background-color:#b2b2b3 !important;
              // border: 1px solid #23232323 !important;
              // box-shadow: 0px 1px 5px rgba(55, 55, 55, 0.1) !important;
              
              div{
                &.option {
                  color: #222223 !important;
                  &:hover {
                    color: #020203 !important;
                    background-color:#d2d2d3 !important;
                  }
                  &.selected-option{
                    color: #28A739 !important;
                    background-color: #e2e2e3 !important;
                  }
                  &.remove-option{
                    color: #626263 !important;
                    &:hover{
                      color: red !important;
                      // background-color: #e5341d10 !important;
                    }
                  }
                }
                
              }
            }
            .buy-now {
              color: #fff;
              &:hover {
                background-color:#222223;
                // color:black;
              }
            }
          }
          
        }
        
        .btn-inner-wrap-bot{
          
          .top-text{
            .text-img-wrap{
              .qualityGuaranteed{
                color: #f2f2f3  !important;
              }
            }
          }
          .qualityPromise{
            color: #a2a2a3 !important;
             @media (max-width: 520px) {
              // font-size: 0.7rem !important;
            }
          }
        }

      }
    }

    .name-title-wrap .subtitle { color: #bbb; }
    .suggestions { border-color: #333; }
    .suggestions .suggestion-title h2 { color: #f2f2f3; }
    .product-description .description-title h2 { color: #f2f2f3; }
    .product-description p { color: #bbb; }
    .product-disclaimer{ color: #bbb; }
  }
  .close-button {
    position: sticky;
    top: calc(env(safe-area-inset-top, 0px) + 0px);
    left: calc(env(safe-area-inset-left, 0px) + 0px);
    // transform: translate(-4px, -px);
    width: 32px !important;
    height: 32px !important;
    min-width: 32px !important;
    min-height: 32px !important;
    max-width: 32px !important;
    max-height: 32px !important;
    border-radius: 50% !important;
    font-size: 1.8rem;
    border: none;
    background-color:none;
    color: #727273;
    cursor: pointer;
    box-shadow: 0.2px 0.5px 2px rgba(0, 0, 0, 0.17);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    @media (max-width: 870px) {
      position: fixed;
      right: 24px;
      left:auto !important;
      top: 24px;
    }
  
    img {
      height: 20px;
      width: 20px;
    }
  
    &:hover {
      background-color: rgba(255, 0, 0, 0.75) !important;
      img {
        filter: invert(1);
      }
    }
  }


  .modal-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0px 16px 0px;
    gap: 24px;
    
    @media (max-width: 870px) {
      display: flex;
      flex-direction: column;
      padding: 24px 0px 0px;
      align-items: center;
    }

    .left {
      flex: 1;
      height: 480px !important;
      min-height: 480px;
      max-height: 480px;
      width: 480px;
      @media (max-width: 870px) {
        height: 332px !important;
        width: 332px;
        min-height: 332px;
        max-height: 332px;
      }
      .image-container {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 12px;
        cursor: zoom-in;
        height: 480px !important;
        width: 480px;
        min-height: 480px;
        max-height: 480px;
        width: 480px;
        @media (max-width: 870px) {
          height: 332px !important;
          width: 332px;
          min-height: 332px;
          max-height: 332px;
        }
      
        img.main-image {
          height: 420px !important;
          min-height: 420px;
          max-height: 420px;
          object-fit: contain;
          transition: transform 0.2s ease;
          @media (max-width: 870px) {
            height: 276px !important;
            min-height: 276px;
            max-height: 276px;
          }
          &.zooming {
            transform: scale(1.8);
          }
        }
      }      
    }

    .right {
      flex: 1;
      display: flex;
      flex-direction: row;
      gap: 16px;
      width: 100%;
      max-width: 604px;
      margin-left: auto;
      @media (max-width: 870px) {
        display: flex;
        flex-direction: column;
        max-width: none;
      }
      
      .name-title-wrap{
        width: 100%;
        .product-name {
          margin-top: 0px;
          text-align: left;
          font-size: 1.6rem;
          font-weight: 700;
          margin-bottom: 0px;
          color: #020203;
        }

      }
      .subtitle {
        font-size: 0.95rem;
        color: #777;
        margin-bottom: 20px;;
      }
      .button-wrap{
        margin-bottom: 16px;
        width: 100%;
        height: fit-content;

        .btn-inner-wrap-top{
          box-shadow: 0.1px 0.23px 2px 0 rgba(5, 2, 0, 0.38);
          padding: 24px;
          border-radius: 12px;
          .message-container {
            overflow: hidden;
            max-height: 0;
            padding: 0;
            transition: max-height 0.25s ease-in-out, padding 0.25s ease-in-out;
            .added-message {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 12px;
              padding: 12px;
              height: 32px;
              background-color: #28a73913;
              color: #28a739;
              border-radius: 12px;
              font-size: 0.95rem;
              font-weight: 500;
              text-align: center;
              box-shadow: 0 0.5px 2px rgba(40, 167, 57, 0.25);
              animation: fadeIn 0.3s ease-out, fadeOut 0.3s ease-in 1.7s forwards;
            }

            &.expanded {
              max-height: 80px; // Adjust depending on message size
              padding-top: 8px;
            }
          }
          
          @media (max-width: 870px) {
            & {
              padding: 0px;
              box-shadow: none;
            }
          }

          .name-title-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .price {
              font-size: 0.95rem;
              line-height: 28px;
              font-weight: 600;
              font-variation-settings: "wght" 600, "opsz" 32;
              --ids-typography-name: mobile/title;
              color: #020203;
              transform: translateY(-6px);
              .currency{
                color:#626263; 
                font-weight: 500;
              }
            }
          }
          
          .thumbnail-row {
            display: flex;
            justify-content: left;
            gap: 8px;
            margin-top: 12x;
            margin-bottom: 24px;
            
            .thumbnail-wrapper {
              display: flex;
              flex-direction: column;
              align-items: center;
              position: relative;
              &.skeleton {
                .thumbnail-container {
                  width: 60px;
                  height: 60px;
                  border-radius: 8px;
                  
                  background: linear-gradient(
                    90deg,
                    #f0f0f0 25%,
                    #e8e8e8 50%,
                    #f0f0f0 75%
                  );
                  background-size: 400% 100%;
                  animation: shimmer 1.2s ease-in-out infinite;
                }
                border-radius: 8px;
              }
              .thumbnail-bar {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: transparent;
                transition: background-color .3s ease-out;
                border-radius: 1.5px;
                transform: translateY(8px);
                &.active {
                  transition: background-color .15s ease-out;
                  background-color: #d2d2d3 !important;
                }
              }
        
              &:hover .thumbnail-bar {    
                transition: background-color .02s ease-out;   
                background-color: #e8e8e8;
              }
            } 

            .thumbnail-container {
              overflow: hidden;
              width: 60px;
              height: 60px;
              border-radius: 6px;

              img.thumbnail {
                width: 60px;
                height: 60px;
                object-fit: cover;
                cursor: pointer;
              }
            }
          }
          
          .quantity-control {
            position: relative;
            width: 100%;
            z-index: 2;

            .quantity-button {
              box-sizing: border-box;
              touch-action: manipulation;
              text-align: center;
              padding: 0px 16px;
              min-width: 180px;
              width: 100%;
              height: 56px;
              font-size: 1rem;
              // margin-bottom: 16px;
              border-radius: 12px;
              background-color: #ebebeb;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: space-between;
              align-items: center;
              &.quantity-changed {
                font-weight: normal;
                background-color: #ebebeb; // light pink
                // color: #222 !important;

                &:hover {
                  background-color: #e2e2e3;
                }
              }
              &.in-bag{
                background-color: #28A739 !important;
                color: #f2f2f3 !important;
                box-shadow: 0 1px 2px rgba(8, 8, 8, 0.23) !important;
                &.selected-quantity{
                  font-weight: 500;
                }
                &:hover{
                  background-color: #249433 !important;
                }
              }
              &:hover{
                background-color: #e2e2e3;
              }

              .selected-quantity{
                margin: 0px auto;
              }
             
              .arrow {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: auto;
                height: auto;
                transition: all 0.3s ease;
                transform: scale(1.25, 0.85);
                overflow: hidden;
                border-radius: 50%;

                span {
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  transition: all 0.3s ease;
                }
              }

              &.active .arrow {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #e5341d;
                color:transparent !important;
                transform: scale(1);
                span{
                }
              }

            }
            
            .quantity-dropdown {
              position: absolute;
              top: calc(100% - 12px);
              // left: 0;
              width: 100%;
              background-color:#f8f8f8;
              // border: 1px solid #cccccc23;
              box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
              border-radius: 0 0 8px 8px;
              overflow-y: auto;
              z-index: -1;
              scrollbar-width: none;
              max-height: 0;
              opacity: 0;
              transform: translateY(-16px);

              transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.1s ease-out;
              &.open {
                max-height: 190px;
                opacity: 1;
                pointer-events: auto;
                transform: translateY(0px);
                transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.1s ease-out;
                // 
              }
              div{
                &.option.block{
                  &:hover {
                    background-color: inherit !important;
                    cursor: default;
                  }
                }

                &.option {
                  padding: 8px 16px;
                  cursor: pointer;
                  color: #424243;
                  
                  transition: all 0.02s ease-out;
                  &.block{
                    &:hover {
                      background-color:black;
                    }
                  }
                  &.remove-option{
                    // color: red;
                    color: #828283;
                    &:hover{
                      color: red;
                      background-color: #e5341d10;
                    }
                  }
                  &.selected-option {
                    background-color: #02020310;
                    // font-weight: 600;
                    color: #28a739 !important; 
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  }

                  &.check-mark {
                    font-size: 1rem;
                    margin-left: 8px;
                  }
                  &:hover {
                    background-color:#f0f0f0;
                    color: #020203;
                  }
                }
              }
            }
          }
    
          .button-group {
            display: flex;
            gap: 12px;
            margin-top: 16px;
            button {
              flex: 1;
              padding: 12px;
              font-size: 1rem;
              border: none;
              border-radius: 12px;
              height: 56px;
              font-weight: 500;
              cursor: pointer;
              box-shadow: 0 1px 2px rgba(8, 8, 8, 0.23) !important;
              &.add-to-bag {
                
                background-color:#28A739;
                color: #fff;
                &:hover {
                  background-color:#249433;
                }
              }
              &.buy-now {
                background-color: #323233;
                color: #f2f2f3;
                &:hover {
                  background-color: #121213;
                  // color:black;
                }
              }
            }
          }
        }
        .btn-inner-wrap-bot{
          margin-top: 16px;
          margin-left: 16px;
          line-height: 1.2;
          text-align: right;
          text-align: right;
          padding-right: 24px;
          
          @media (max-width: 870px) {
            padding-right: 0px;
            margin-left: 0;
          }
          .top-text{
            .text-img-wrap{
              display: flex;
              justify-content: right;
              align-items: center;
              
              font-weight: 500;
              font-size: 0.9rem;
              .img-wrap{
                // filter: brightness(120%);
                // margin-right: 4px;
                background-color: rgb(229, 52, 29);
                width: 20px;
                height: 20px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(-4px, 0px);
                img{
                  width: 100%;
                  height: 100%;
                  transform: scale(1.3);
                }
              }
              .qualityGuaranteed{
                color:#222223; 
              }
            }
          }
          .qualityPromise{
            // text-transform: uppercase;
            font-size: 0.85rem;
            color: #727273;
            margin-left: 20px;
            margin-top: 4px;
          }
        }
      }
    }
  }

  .suggestions {
    border-radius: 12px;
    margin: 32px 0px 24px 0;
    @media (max-width: 870px) {
      margin-top: 12px;

    }

    h3 {
      font-size: 1.2rem;
      margin-bottom: 12px;
    }

    .suggestion-title {
      text-align: left;
      padding: 16px 16px 0px 16px;
      display: flex;
      justify-content: left;
      align-items: left;
      @media (max-width: 870px){
        padding: 32px 0px 8px 0px;
      }
      h2 {
        margin: 0;
        font-size: 1.4rem;
        line-height: 28px;
        --ids-typography-name: web/title;
      }
    }
    .suggested-item.skeleton {
      background-color:#f0f0f0;
      border-radius: 12px;
      position: relative;
      overflow: hidden;
    
      .skeleton-box {
        width: 100%;
        height: 100%;
        background-color:linear-gradient(90deg, #f0f0f0 25%, #e6e6e6 50%, #f0f0f0 75%);
        background-size: 400% 100%;
        animation: shimmer 1.2s ease-in-out infinite;
        border-radius: 12px;
      }
    }
    
    @keyframes shimmer {
      0% { background-position: -400% 0; }
      100% { background-position: 400% 0; }
    }
    
    .suggested-items {
      
      display: flex;
      gap: 12px;
      overflow-x: auto;
      padding: 16px;
      @media (max-width: 870px){
        padding: 16px 0px 16px 0px;
      }
      &.horizontal-scroll {
        display: flex;
        gap: 12px;
        overflow-x: auto;
        padding-bottom: 8px;
      
        &::-webkit-scrollbar {
          height: 8px;
        }
        &::-webkit-scrollbar-thumb {
          background-color:#ccc;
          border-radius: 4px;
        }
        &::-webkit-scrollbar-track {
          background-color:transparent;
        }
      }
      

      .suggested-item {
        .product-card{
          background-color: #f8f8f8;
          width: 256px !important;
          &:hover {
            background-color: #173b7a14;
          }
          .product-image-wrap {
            transform: scale(0.8);
          }
        }

      }
    }
  }
    .product-description {
      margin-top: 8px;
      margin-left: 14px;
      @media (max-width: 870px){
        margin-left: 0px;
      }
      .description-title {
        text-align: left;
        // padding: 16px;
        display: flex;
        justify-content: left;
        align-items: left;
        h2 {
          font-weight: 700;
          font-variation-settings: "wght" 600, "opsz" 8;
          --ids-typography-name: mobile/bodyEmphasized;
          color: #222223;
          font-size: 1rem;
          line-height: 20px;
          --ids-typography-name: web/bodyEmphasized;
          margin: 4px 0px;
          @media (max-width: 870px){
            font-size: 0.95rem;
          }

        }
      }

      p {
        margin-top:0;
        font-weight: 400;
        font-variation-settings: "wght" 400, "opsz" 8;
        --ids-typography-name: mobile/bodyRegular;
        color: rgb(114, 118, 126);
        @media (max-width: 870px){
          font-size: 0.9rem;
        }
      }

      
    }
    .product-disclaimer {
      // margin-top: 24px;
      padding: 12px 0px;
      font-size: 0.8rem;
      color: #525253;
      border-top: 1px solid #ddd;
      line-height: 1.4;
      margin: 0px 15px;
      @media (max-width: 870px){
        margin-left: 0px;
      }
      p:first-child{
        // background-color: red;
        margin-bottom: 0;
      }
      p:last-child{
        // background-color: red;
        margin: 0;
      }
      .dark & {
        color: #aaa;
        border-top: 1px solid #333;
      }
    }  
}

.suggested-item.skeleton {
  min-width: 256px;
  height: 360px;
  background-color: #f0f0f0;
  border-radius: 12px;
  position: relative;
  overflow: hidden;

  .skeleton-box {
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      #f0f0f0 25%,
      #e6e6e6 50%,
      #f0f0f0 75%
    );
    background-size: 400% 100%;
    animation: shimmer 1.2s ease-in-out infinite;
    border-radius: 12px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -400% 0;
  }
  100% {
    background-position: 400% 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    // transform: translateY(32px);
    // transform: scale(0.95);
  }
  to {
    opacity: 1;
    // transform: translateY(0px);
    // transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    // transform: scale(1);
    // transform: translateY(0px);
  }
  to {
    opacity: 0;
    // transform: scale(0.95);
    // transform: translateY(0px);
  }
}


@keyframes extend {
  0% {
    border-radius: 0;
      transform: scale(0);
  }
  100% {
    border-radius: 50%;
      transform: scale(5);
    
  }
}

@keyframes shimmer {
  0% { background-position: -400% 0; }
  100% { background-position: 400% 0; }
}