.latest-products {
  width: 100%;
  margin-top: 24px;
  border-radius: 12px;
  // margin-bottom: 16px;

  .suggestion-title {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 4px;

    @media (max-width: 870px) {
      padding: 8px 0px 0px 8px;
    }

    div {
      margin: 0;
      font-size: 1.6rem;
      line-height: 28px;
      font-weight: bolder;
      letter-spacing: -0.3px;
      @media (max-width: 520px) {
        font-size: 1.4rem;
      }
    }
  }

  .suggested-items {
    display: flex;
    gap: 12px;
    overflow-x: auto;
    padding: 16px;
    
    @media (max-width: 870px) {
      padding: 16px 0;
      
    }

    &.horizontal-scroll {
      &::-webkit-scrollbar {
        height: 8px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }
    }

    .suggested-item {
      .product-card {
        width: 256px !important;
        transition: background-color 0.3s ease;

        .product-image-wrap {
          transform: scale(0.8);
        }
      }
    }
  }
}

// Dark mode
:root.dark-mode {
  .latest-products {
    
    background-color: #000;

    .suggestion-title h2 {
      color: #f2f2f3;
    }

    .suggested-items {
      .suggested-item {
        .product-card {
          background-color: #181818;

          &:hover {
            background-color: #010728;
          }

          .product-image-wrap {
            // No change needed unless styling the image
          }
        }
      }
    }
  }
}

