.feedback-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: floatIn 0.3s ease-out;
  }
  
  .feedback-modal {
    background-color:#ffffff;
    padding: 24px 28px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    animation: floatDown 0.3s ease-out;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .feedback-modal h2 {
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #b22b3b;
  }
  
  .feedback-modal textarea {
    font-family: inherit;
    padding: 16px;
    border: none;
    background-color: #f8f8f8;
    font-size: 0.9rem;
    border-radius: 12px;
    resize: vertical;
    min-height: 160px;
    margin-bottom: 12px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    resize: none;
    transition: border-color 0.2s;
  
    &:focus {
      background-color: #f2f2f3;
    //   border-color: #ff4c4c;
    }
  }
  
  .feedback-modal button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    background-color:#fff;
    border: 2px solid #232323;
    color: #232323;
    font-weight: 700;
    padding: 12px;
    // height: 44px;
    font-size: 0.85rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color .15s, border-color 0.15s;
    width: 100%;
  }
  
  .feedback-modal button[type="submit"]:hover {
    background-color: #ff4c4c;
    border-color: #ff4c4c;
    color: #fff;
  }
  
  .feedback-modal .close-btn {
    position: absolute;
    top: 22px;
    right: 28px;
    background-color:none;
    border: none;
    font-size: 24px;
    color: #999;
    cursor: pointer;
    padding: 0;
  
    &:hover {
      color: #b22b3b;
    }
  }
  
  /* Dark Mode */
  .dark-mode {
    .feedback-modal {
      background-color:#181818;
      color: #e2e2e3;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.75);
    }
  
    .feedback-modal h2 {
      color: #ff4c4c;
    }
  
    .feedback-modal textarea {
      background-color:#070710;
      color: #e2e2e3;
      border-color: #e2e2e3;
  
      &:focus {
        // border-color: #b22b3b;
      }
    }
  
    .feedback-modal button[type="submit"] {
      background-color:transparent;
      color: #e2e2e3;
      border: 1px solid #b22b3b;
      width: 100%;
      &:hover {
        background-color:#ff4c4c;
        border-color: #ff4c4c;
        color: #fff;
      }
    }
  
    .feedback-modal .close-btn {
      color: #e2e2e3;
  
      &:hover {
        color: #ff4c4c;
      }
    }
  }
  