.cg-root {
  width: 100dvw;
  box-sizing: border-box;

  .directory {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100dvw;
    justify-content: center;
    align-items: center;

    .cg-header {

    }

    .cg-main {
      box-sizing: border-box;
      width: 100%;
      padding: 0px;
      height: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

      .top-section {
        position: relative;
        width: calc(100%);
        height: 570px;
        min-height: 200px;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 0, 0);
        filter: brightness(1);
        
        background-size: 100% auto;

        // background image goes into ::before
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: url('./../../assets/cksmh2.png') 50% top no-repeat;
          background-position: calc(50% + 13px) top;
          
          background-size: auto; 
          filter: grayscale(38%) contrast(105%) brightness(93%) sepia(0%) ;
          z-index: 0;
        }

        @media (max-width: 520px) {
          &::before {
            background-size: auto 100%;
            background-position: calc(50% + 6px) top !important;
          }
        }

        .top-section-text {
          position: absolute;
          // right: clamp(10px, 3vw, 0px);
          // bottom: clamp(12px, 3vw, 0px);
          transform: none;              
          z-index: 2;                   
          pointer-events: none;
          text-align: right;  
          transform: translateX(18px);
          img {
            display: block;
            height: 408px !important;
            width: auto;
            filter: invert(1) contrast(200%);
            @media (max-width: 520px) {
              
              height: 220px !important;
            }
            // filter: invert(12%) sepia(98%) saturate(7456%) hue-rotate(1deg) brightness(87%) contrast(112%);
          }

          @media (max-width: 520px) {
            transform: translateX(8px);
          }

          @media (max-width: 768px) {
            font-size: 2.5rem;
            letter-spacing: 2px;
          }
        }

        @media (max-width: 1840px) {
          background-size: 1840px auto;
        }

        @media (max-width: 520px) {
          margin-top: 0;
          max-width: calc(100% - 24px);
          height: calc(100dvh - 60px - 50px - 32px);
          background-size: auto;           
          max-height: 570px;
          &::before{
            background-position: calc(50% + 13px) top;
            
          }
        }

        .top-section-img-wrap {
          max-width: 1180px;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          padding: 0 12px;
          opacity: 0;
          animation: fadeIn 0.5s ease-out forwards;

          @media (max-width: 520px) {
            max-width: calc(100% - 24px);
          }

          &.slideshow {
            position: relative;
            width: 100% !important;
            height: 100% !important;

            img {
              position: absolute;
              transition: opacity 1s ease;
              opacity: 0;
              max-width: 100%;
              max-height: 100%;
              object-fit: cover;
            }

            img.active {
              opacity: 1;
              z-index: 1;
            }

            img.inactive {
              opacity: 0;
              z-index: 0;
            }
          }

          img {
            max-width: calc(100% - 128px);
            max-height: calc(100% - 128px);
            object-fit: contain;
            object-position: center center;
            display: block;
            width: 100%;
            height: 100%;
            animation: colorChange 0.5s ease-out forwards;
            display: none;

            @media (max-width: 520px) {
              max-width: calc(66vw);
              max-height: calc(66vw);
              filter: invert(1) !important;
            }
          }
        }
      }
    }
  }
}


  .dark-mode {  
    .cg-root{

    }
    .directory {
      .cg-header {
      }

      .cg-main {
        background-color: #121213 !important;
        .top-section {
          background-color: #0b0b0b !important;
          
          &::before {
            // do not change this bc this matches the background color when its outer wrap
            filter: grayscale(25%) contrast(90%) brightness(76%) sepia(10%) hue-rotate(0deg);
            
            @media (max-width: 520px) {
              // do not change this bc this matches the background color when its outer wrap
              filter: grayscale(25%) contrast(86%) brightness(94%) sepia(10%) ;
            }
          }
          .top-section-text{
            
            img{
              filter: invert(1) !important;
              
              // 
              @media (max-width: 520px) {
                
              }
            }
          }
          
          .top-section-img-wrap {
            img {
              filter: invert(1)!important;
            }
          }
        }
      }
    }
  }


  @keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

  @keyframes colorChange {
  0% {
    opacity: 0;
    transform: translateY(-18px);
  }
  50% {
  }
  100% {
    opacity: 1;
    background-color: transparent;
    transform: translateY(0);
    transform: scale(0.85);
  }
}