.cg-root {
  width: 100dvw;
  box-sizing: border-box;

  .directory {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100dvw;
    justify-content: center;
    align-items: center;

    .cg-header {}

    .cg-main {
      box-sizing: border-box;
      width: 100%;
      padding: 0px;
      height: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 auto;

      .top-section {
        position: relative;
        width: 100%;
        height: 490px;
        min-height: 200px;
        // max-height: 468px;
        // margin-top: 6px;
        overflow: hidden;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(0, 0, 0);
        
        background: url('./../../assets/top-section-bg-june5.jpg') bottom center / cover no-repeat;
        
        // background-position: top center;
        filter:brightness(1.15);
        background-size: 100% auto;

        @media (max-width: 1840px) {
          background-size: 1840px auto;
          
        }

        @media (max-width: 520px) {
          margin-top: 0;
          max-width: calc(100% - 24px);
          // maxheight: 760px;
          height: calc(100dvh - 60px - 50px - 32px);
          background-size: auto; 
          
          img{

            
          }
          
        }

        .top-section-img-wrap {
          max-width: 1180px;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          padding: 0 12px;
          
          opacity: 0;
          animation: fadeIn 0.5s ease-out forwards;
          // animation-delay: 0.2s; // optional slight delay
          

          @media (max-width: 520px) {
            max-width: calc(100% - 24px);
            // background-color: rgb(0, 0, 0);
          }

          &.slideshow {
            position: relative;
            width: 100% !important;
            height: 100% !important;

            img {
              position: absolute;
              transition: opacity 1s ease;
              opacity: 0;
              max-width: 100%;
              max-height: 100%;
              object-fit: cover;
            }

            img.active {
              opacity: 1;
              z-index: 1;
            }

            img.inactive {
              opacity: 0;
              z-index: 0;
            }
          }

          img {
            max-width: calc(100% - 128px);
            max-height: calc(100% - 128px);
            object-fit: contain;
            object-position: center center;
            display: block;
            width: 100%;
            height: 100%;
            
            

            // border-radius: 50%;
            animation: colorChange 0.5s ease-out forwards;
            
            // animation-delay: 0.2s; // optional slight delay
            display: none;
            @media (max-width: 520px) {
              // display: flex;
              max-width: calc(66vw);
              max-height: calc(66vw);
              // background-color: #fffffff8;
              filter: invert(1) !important;
            }
          }
        }
      }

      .latest-products {


        .suggested-items {
          

        }
      }

    }
  
  }
}


  .dark-mode {

  
    .cg-root{
      // background-color: red !important;

    }
    .directory {

      .cg-main {
        background-color: #121213 !important;
        .top-section {
          
          .top-section-img-wrap {
            // background-color: white !important;
            // background-color: red !important;
            img {
              filter: invert(1) !important;
              // background-color: rgb(217, 45, 23) !important;
            }
          }
        }


        

      }
    }
  }


  @keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(12px);
    // transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    // transform: rotate(500deg);
  }
}

  @keyframes colorChange {
  0% {
    opacity: 0;
    // background-color: #e5341d;
    transform: translateY(-18px);
    // transform: rotate(0deg);
  }
  50% {
    // opacity: 0;
    // background-color: #e5341d;
    // transform: translateY(12px);
    // transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    // filter: invert(1);
    background-color: transparent;
    // background: url('./../../assets/top-section-bg-june3.jpg') center center / cover no-repeat;
    transform: translateY(0);
    // transform: rotate(500deg);
    transform: scale(0.85);
  }
}