.cg-searchbar-container {
  position: relative;
  transition: all 0.2s ease-out !important;
  z-index: 105;

  .logo-wrap {
    flex: 0 0 auto; // prevent shrinking
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-left: 12px;
    background-color: rgba(217,45,23,255);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 90%;
      height: 90%;
      user-drag: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
      pointer-events: none;
    }
    &.mobile{
      // background-color: transparent;
      padding: 2px;
      margin-right: 4px;
      img {
        width: 105%;
        height: 105%;
      } 
    }
    &.expanded{
      
        img{
          width: 100%;
          height: 100%;
        }
    }
  }
  @media (max-width: 580px) {
    width: calc(100% - 24px);
    display: flex;
    justify-content: center;
  }

  .cg-searchbar {
    display: flex;
    align-items: center;
    
    // border: 2px solid #424243;
    background-color: #f8f8f8;
    animation: floatIn 0.6s ease-out;
    height: 52px;
    border-radius: 12px;
    // width: 560px;
    box-shadow: 0.5px 1px 2px rgba(8, 8, 8, 0.23);
    border: 1px solid #f2f2f3;
    position: relative;
    overflow: hidden;
    z-index: 105;
    &:hover{
      box-shadow: 0.5px 1px 2px rgba(8, 8, 8, 0.33);
    }

  }

  .cg-search-input {
    font-family: inherit;
    padding: 12px 16px 12px 8px;
    border: none;
    color: #222223;
    background-color: transparent;
    font-size: 1rem;
    width: calc(100% - 86px - 40px);
    margin-right: 8px;
    outline: none;
    border-radius: 0;
    transition: border-color 0.2s ease;
    -webkit-font-smoothing: antialiased;
    @media (max-width: 520px) {
      padding: 0;
      display: none;
    }
    // background-color: red;
    &::placeholder{
      color:#727273;
    }
  }
  .cg-search-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: pink;
    width: 64px;
    height: 100%;
    // margin-right: 8px;
    // border-radius: 12px;
    // background-color: #424243;
    // box-shadow: 0.5px 1px 2px rgba(8, 8, 8, 0.23);
    
    cursor: pointer;
    &.active{
      background-color: #0000000b;
      img{
        filter: invert(0);
      }
      
    }
    &:hover{
      background-color: #010b37;
      img{
        filter: invert(1) !important;
      }
    }
    .cg-search-btn{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        // filter: invert(0.25);
        width: 40%;
        height: 40%;

        user-drag: none;
        -webkit-user-drag: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
      }
    }

  }

  .cg-clear-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    // background-color: red;
    .cg-clear-btn {
      background-color: #0000000b;
      cursor: pointer;
      
      height: 24px;
      width: 24px;
      border-radius: 50%;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.25s ease, visibility 0.25s ease;

      img {
        filter: brightness(0);
        width: 100%;
        height: 100%;
        transform: scale(0.7);
        object-fit: contain;
        user-drag: none;
        -webkit-user-drag: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
      }

      &:hover {
        background-color: #e02203;
        img{
          filter: brightness(100%);
        }
        
      }

      &.visible {
        opacity: 1;
        visibility: visible;
      }
    }

  }




  @media (max-width: 900px) {
    .cg-searchbar {
      width: 100%;
    }

    .cg-search-input {
      margin-right: 0;
    }
  }

  .top-searches {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% + 2px);
    background-color: #fff;
    // border: 1px solid #bbb;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    
    padding-top: 20px;
    box-sizing: border-box;
    transform: translate(0, -12px);
    border-radius: 0 0 12px 12px;
    z-index: 100;

    height: 0; 
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.2s ease-in, 
                height 0.2s ease-in,
                opacity 0.17s ease-in-out;
    // transition: all 2s ease;
    &.active {
      height: fit-content;
      // div height * n + top block height + gap height * (n-1)
      max-height: none;
      // max-height: calc(48px * 8 + 20px + (0px * 7));
      opacity: 1;
      // top:0;
    }

    .top-search-product {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 6px 10px;
      padding-right: 0;
      height: 40px;
      cursor: pointer;
      // border-radius: 6px;
      // background-color: red;
      transition: background-color 0.03s ease-out;
      transition: height 3s ease-out;
      height: 0;
      opacity: 0;

      &.search-for{
        border-top: 1px solid #f2f2f3;
        opacity: 1;
        height: 36px;
        font-size: 300;
        // background-color: #f2f2f3;
        color: #525253;
        .product-thumbnail{
          width: 36px;
          height: 36px;
          transform: scale(0.6);
          img{
            width: 100%;
            height: 100%;
          }
        }
        .arrow-image-wrap {
          margin-left: auto;
          width: 64px;      // match the 36px line
          // height: 50px;     // match the container height
          display: flex;
          justify-content: center;
          align-items: center;
          // background-color: red !important;
          opacity: 0;
          img{
            filter:invert(1);

          }

        }
        &:hover, &.selected {
          .product-thumbnail{
            filter: invert(1);
          }
          .arrow-image-wrap{
            opacity: 1;
          }
          .product-details{
            color: #fff;
          }
          &.search-for{
            flex-direction: row;
            
            span{
              color:#30c544;
            }
          }
        }
      }
      
      
      &.active{
        opacity: 1;
        height: fit-content;
        // height: 40px;
        height: 100%;
      }
      &:hover, &.selected {
        background-color: #010b37;
        .product-details{
          .product-price{
            color: #e2e2e3;
            strong{
              color: #30c544 !important;
              
            }
          }
          .product-name{
            
            color: #fff;
            strong{
              color: #30c544 !important;
              
            }
            
          }
        }
        .arrow-image-wrap{
          img{
            opacity: 1 !important;
            filter: brightness(0) saturate(100%) invert(64%) sepia(77%) saturate(624%) hue-rotate(83deg) brightness(98%) contrast(99%);
            // filter: invert(12%) sepia(98%) saturate(7456%) hue-rotate(1deg) brightness(95%) contrast(112%);
            filter: invert(1);
          }
        }
      }

      img.product-thumbnail {
        width: 36px;
        height: 36px;
        object-fit: cover;
        border-radius: 4px;
        user-drag: none;
        -webkit-user-drag: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
        // background-color: red;
      }

      .product-details{
        display: flex;
        flex-direction: column;
        
        &.search-for{
          font-weight: 400;
          flex-direction: row;
        }
        // background-color: red;
        .product-name {
          font-size: 0.95rem;
          color: #424243;
          // font-weight: 500;
          strong{
            color: #000;
          }
        }
        .product-price{
          font-size: 0.85rem;
          color: #a2a2a3;
          strong{
            color: #626263 !important;
            
          }
          
        }
      }
      .arrow-image-wrap{
        margin-left: auto;
        // background-color: red;
        height: 100%;
        width: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
        // background-color: red !important;
        // img{
        //   filter:
        //     invert(45%)    /* flip brightness */
        //     sepia(60%)     /* create a reddish base */
        //     saturate(400%) /* boost color intensity */
        //     hue-rotate(90deg) /* shift into green */
        //     brightness(155%)   /* adjust lightness */
        //     contrast(90%);    /* tweak contrast */
        // }

        }
        img.product-arrow-image{
          opacity: 0;
          width: 38%;
          height: 38%;
          // opacity: 0.25;
        }

      }


    }

    .top-searches-list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      // gap: 2px;

      .top-search-term {
        padding: 6px 12px;
        background-color: #eee;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.05s ease-out;
        
        
        &:hover {
          background-color: #ddd;
        }
      }

      .no-suggestions {
        font-style: italic;
        color: #bbb;
        
      }
    }
  }

  .cg-collapse-search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    border: none;
    font-weight: 600;
    border-radius: 16px;
    height: calc(100% - 12px);
    font-size: 0.85rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.03s ease-out;
    width: fit-content;

    margin-left: 12px;
    z-index: 200;

    &:hover {
      
    }

    .search-icon-wrap{
      height: 24px;
      width: 24px;
      padding: 12px;
      background-color: #f2f2f3bb;
      border-radius: 24px !important;
      overflow: hidden;
      &:hover {
        background-color: #f2f2f3cc;
      }

      img{
        height: 100%;
        width: 100%;
        user-drag: none;
        -webkit-user-drag: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
      }
    }
  }

}

.cg-searchbar-container.mobile {
  // box-sizing: border-box;
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s ease-out;
  
  &.active{
    background-color: white !important;
    top: env(safe-area-inset-top);
    height: 60px !important;
    z-index: 10000;
    
  }
  form {
    display: flex;
    align-items: center;
  }

  .cg-searchbar{
    height: 48px;
    border-radius: 24px;
    padding: 0;
    
    .logo-wrap{
      // height: 40px !important;
      // width: 42px !important;
      border-radius: 20px;
      margin-left: 2px !important;
      &.expanded{
        padding: 0;
        margin: 8px;
        transform: translateX(3px) !important;
        // transform: none !important;
        img{

        }
      }
      .cg-search-input{
        padding: 0;
        display: none;
        width: 100%;
      }
    }
  }
}


.dark-mode{
  .cg-searchbar-container{
    &.mobile{
      &.active{
        background-color: #b2b2b3 !important;
      }
    }
    .cg-searchbar{
      border: 1px solid #323233 !important;
      background-color: #424243 !important;
      
      @media (max-width: 520px) {
        background-color: #424240c8 !important;
        backdrop-filter: saturate(180%) blur(1px);
        
      }
      .text{
        color: #e2e2e3 !important;
      }
      &:hover{
        background-color: #525253 !important;
        border: 1px solid #585858 ;
        .cg-search-input{
          // color: #f2f2f3 !important;
          &::placeholder{
            
            color: #f2f2f3 !important;
          }
        }
      }
      .logo-wrap{
        background-color: #000 !important;
        &.mobile{
          // background-color: transparent !important;
          border-radius: 50%;
          // filter: invert(1) saturate(1) ;
        }
        // filter: invert(1) saturate(1) ;
        img{
          filter: invert(1);
        }
        // opacity: ;
      }
      .cg-search-input{
        color: #f2f2f3 !important;
        &::placeholder{
          
          color: #f2f2f3 !important;
        }
      }
      .cg-clear-btn{
        background-color: #a2a2a3 !important;
        &:hover{
          background-color: #010b37 !important;
          
          img{
          // filter:brightness(0) !important;  
          }
        }
      }
      .cg-search-btn-container{
        .cg-search-btn{
          background-color:  #a2a2a3 !important;
          &:hover{
            background-color: #010b37 !important;
          img{
              // filter: invert(0) !important;
            }
      
          }
        }
        
      }

    }
    .top-searches{
      background-color: #b2b2b3 !important;
      .top-searches-list{
        .top-search-product{
          &.search-for{
            border-top: 1px solid #a2a2a3;
            background-color: #b2b2b3 !important;
          }
          .product-details{
            .product-name{
              color: #020203 !important;
            }
            .product-price{
              color: #626263 !important;
            }
          }
          &:hover, &.selected {
            background-color: #010b37 !important;
            .product-details{
              .product-price{
                color: #e2e2e3 !important;
                strong{
                  color: #30c544 !important;
                  
                }
              }
              .product-name{
                
                color: #fff !important;
                strong{
                  color: #30c544 !important;
                  
                }
                
              }
            }
          }
        }
      }
    }

  }
}

@media (max-width: 520px) {
  .cg-searchbar-container.mobile {
    .top-searches.suggestion-dropdown {
      /* show BELOW the bar on mobile as well */
      top: 100%;
      bottom: auto;
      transform: translate(0, -16px);
      border-radius: 0 0 12px 12px;
      padding-top: 20px;
      padding-bottom: 0;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);

      .top-searches-list {
        display: flex;
        flex-direction: column; /* normal order (not reversed) */
      }
    }
  }
}