/* LIGHT MODE BLINK */
@keyframes blinkCartButton {
  0% { background-color: #28A739; }
  40% { background-color: #28A739; }
  60% { background-color: inherit; }
  80% { background-color: #28A739; }
  100% { background-color: inherit; }
}

@keyframes blinkCartContent {
  0% { filter: invert(1); }
  40% { filter: invert(1); }
  60% { filter: none; }
  80% { filter: invert(1); }
  100% { filter: none; }
}

/* DARK MODE BLINK- not working properly */ 
@keyframes darkBlinkCartButton {
  0% { background-color: #28A739; }
  40% { background-color: #28A739; }
  60% { background-color: inherit; }
  80% { background-color: #28A739; }
  100% { background-color: inherit; }
}

@keyframes darkBlinkCartContent {
  0% { filter: invert(1); }
  40% { filter: invert(1); }
  60% { filter: none; }
  80% { filter: invert(1); }
  100% { filter: none; }
}

.cg-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 18px 32px 12px 32px;
  margin-bottom: 0;
  color: #000;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color:#fff;
  transition: all 0.25s ease-out;

  @media (max-width: 870px) {
    padding: 12px 16px 8px 16px;
  }
  @media (max-width: 520px) {
    flex-direction: column;
    text-align: center;
    padding: 18px 16px 4px 16px;
  }

  &.scrolled {
    opacity: 0.95;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.13);
    padding: 12px 32px 8px 32px;

    .cg-header-left .logo-container {
      transition: all 0.25s ease-out;
      filter: invert(12%) sepia(98%) saturate(7456%) hue-rotate(1deg) brightness(95%) contrast(112%);
    }

    @media (max-width: 870px) {
      padding: 12px 28px 8px 28px;
    }
    @media (max-width: 520px) {
      padding: 12px 28px 0px 28px;
    }
  }

  .cg-header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .cg-sub-title {
      display: block;
      padding-top: 8px;
    }

    .logo-container {
      width: 178px;
      opacity: 0.85;
      @media (max-width: 520px) { width: 160px; }

      &:hover {
        filter: none;
        opacity: 1;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &.center-align {
      margin-top: 4px;
      align-items: center;
    }

    @media (max-width: 520px) {
      align-items: center;
    }
  }

  .cg-sub-title {
    text-transform: uppercase;
    font-size: 0.85rem;
    color: #28a739;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .cg-header-right {
    display: flex;
    align-items: center;
    height: fit-content;

    @media (max-width: 520px) {
      flex-direction: row;
      justify-content: center;
    }

    .header-auth-buttons {
      gap: 4px;
      display: flex;
      align-items: center;

      .shopping-bag {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 14px;
        background-color: #f2f2f3;
        border-radius: 24px;
        margin-left: 4px;
        cursor: pointer;

        &.blinking {
          animation: blinkCartButton 1s ease;
          .bag-count, .bag-img-wrap img {
            animation: blinkCartContent 1s ease;
          }
        }

        @media (max-width: 520px) {
          display: none;
        }

        &:hover {
          background-color:#424243;
          .bag-count, img { filter: invert(1); }
        }

        .bag-count {
          font-weight: 500;
          padding-left: 6px;
        }

        .bag-img-wrap {
          width: 24px;
          height: 24px;

          img {
            opacity: 0.93;
            width: 100%;
            height: 100%;
          }
        }
      }

      .separator {
        display: none;
        font-size: 1rem;
        color: #888;
        user-select: none;
        transform: translateY(-1.5px);
      }

      @media (max-width: 520px) {
        gap: 4px;
        .separator { display: inline; }
      }
    }

    .user-menu {
      display: flex;
      align-items: center;

      .user-name {
        font-size: 0.95rem;
        font-weight: 600;
        padding: 6px 12px;
        border: 1px solid transparent;
        border-radius: 4px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 120px;
      }

      .shopping-bag {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 14px;
        background-color: #f2f2f3;
        border-radius: 24px;
        margin-left: 4px;
        cursor: pointer;

        &.blinking {
          animation: blinkCartButton 1s ease;
          .bag-count, .bag-img-wrap img {
            animation: blinkCartContent 1s ease;
          }
        }

        @media (max-width: 520px) {
          display: none;
        }

        &:hover {
          background-color:#424243;
          .bag-count, img { filter: invert(1); }
        }

        .bag-count {
          font-weight: 500;
          padding-left: 6px;
        }

        .bag-img-wrap {
          width: 24px;
          height: 24px;

          img {
            opacity: 0.93;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.cg-header h1 {
  font-family: 'Cal Sans', sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0;
  letter-spacing: 1px;

  &:hover { color: #e20023; }

  @media (max-width: 520px) { font-size: 2rem; }
}

.header-btn.welcome-text {
  color: #e20023 !important;
  &.scrolled { color: black !important; }
}

.header-btn {
  font-family: inherit;
  background-color:transparent;
  color: #000;
  border: none;
  font-weight: 700;
  padding: 7px 12px;
  height: 36px;
  font-size: 0.95rem;
  text-transform: uppercase;
  width: fit-content;
  cursor: pointer;
  border-radius: 12px;

  &.log-in, &.log-out { font-weight: normal; }

  &.sign-up, &.log-in, &.log-out {
    &:hover { background-color: #f2f2f3; }
  }

  @media (max-width: 520px) {
    color: #28a739 !important;
    font-size: 0.85rem;

    &.sign-up, &.log-in, &.log-out { font-weight: normal; }

    &:hover {
      background-color: transparent !important;
      color: #e20023 !important;
    }
  }
}

/* DARK MODE ONLY TARGETS NEEDED PARTS */
.dark-mode {
  .cg-header {
    background-color: #000;
    
    &.scrolled { border-bottom: 1px solid rgba(255, 255, 255, 0.23); }

    .cg-header-left .logo-container {
      // filter: invert(1);
      img{
        filter: invert(12%) sepia(98%) saturate(7456%) hue-rotate(1deg) brightness(95%) contrast(112%);
      }
      &:hover { filter: none; }
    }
  }

  .header-btn {
    color: #f2f2f3;

    &.sign-up, &.log-in, &.log-out {
      &:hover { background-color: #383838 !important; }

      @media (max-width: 520px) {
        color: #28a739 !important;
        &:hover {
          background-color: transparent !important;
          color: #30c544 !important;
        }
      }
    }
  }

  .header-auth-buttons .shopping-bag,
  .user-menu .shopping-bag {
    background-color: #383838 !important;

    &.blinking {
      animation: darkBlinkCartButton 1.5s ease-in-out;
      .bag-count, .bag-img-wrap img {
        animation: darkBlinkCartContent 1.5s ease-in-out;
      }
    }

    &:hover {
      background-color: #f2f2f3 !important;
      img { filter: invert(0) !important; }
    }

    img { filter: invert(1); }
  }

  .separator { color: #bbb; }

  .cg-header-right .user-menu .user-dropdown {
    background-color:#222;
    border-color: #444;
  }
}
