.confirm-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  width: 100%;
  height: 100%;
  background: rgba(8, 8, 8, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-dialog {
  background: #f2f2f3;
  padding: 24px;
  border-radius: 12px;
  width: 100%;
  width: 360px;
  max-width: calc(100vw - 72px);
  text-align: center;
  box-shadow: 0 2px 10px rgba(8, 8, 8, 0.23);


  p {
    margin-bottom: 16px;
    margin-top: 8px;
    font-size: 1.05rem;
  }

  .dialog-buttons {
    display: flex;
    justify-content: space-around;
    gap: 16px;

    button {
      width: 100%;
      height: 56px;
      padding: 12px;
      border: none;
      border-radius: 12px;
      font-size: 1rem;
      box-shadow: 0 1px 2px rgba(8, 8, 8, 0.23);
      cursor: pointer;
    }

    .cancel-btn {
      background-color: #323233;
      color:#f2f2f3;

      &:hover {
        background-color: #020203;
      }
    }

    .confirm-btn {
      background-color: #e53935;
      color: white;

      &:hover {
        background-color: #d32f2f;
      }
    }
  }
}

// Dark mode styles
.dark-mode {
  .confirm-dialog {
    background: #222223;
    box-shadow: 0 1px 1px rgba(253, 253, 253, 0.12);

    p {
      color: #f2f2f3;
    }

    .dialog-buttons {
      .cancel-btn {
        background-color: #121212;
        color: #f2f2f3;

        &:hover {
          background-color: #0b0b0b;
        }
      }

      .confirm-btn {
        // background-color: #ff5c58;

        &:hover {
          // background-color: #ff3d3b;
        }
      }
    }
  }
}
