@keyframes scrollDownSpring {
  0% {
    transform: translateY(-120%) scaleY(0);
  }
  60% {
    transform: translateY(0) scaleY(1.15);
  }
  75% {
    transform: translateY(0) scaleY(0.9);
  }
  85% {
    transform: translateY(0) scaleY(1.05);
  }
  92% {
    transform: translateY(0) scaleY(0.98);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

@keyframes scrollUpSpring {
  0% {
    transform: translateY(0) scaleY(1);
  }
  30% {
    transform: translateY(0) scaleY(1.1);
  }
  60% {
    transform: translateY(-120%) scaleY(0.6);
  }
  100% {
    transform: translateY(-120%) scaleY(0);
  }
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 34vw;
  max-width: 520px;
  height: auto;
  background-color: #f2f2f3f8;
  transform: translateY(-120%) scaleY(0);
  transform-origin: top;
  z-index: 2001;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-height: 100dvh;
  transition: height 0.5s ease-in-out;

  @media (max-width: 870px) {
    width: 100vw !important;
  }
  @media (max-width: 520px) {
    border-radius: 0;
  }

  &.opening {
    animation: scrollDownSpring 0.4s cubic-bezier(0.33, 1, 0.68, 1) forwards;
    height: 100%;
  }

  &.closing {
    height: 223px;
    animation: scrollUpSpring 0.3s cubic-bezier(0.55, 0, 0.55, 1) forwards;
  }

  .cart-drawer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    // border-bottom: 0.5px solid #d2d2d9;
    background-color: #f2f2f9;
    transition: all 0.1s ease;

    @media (max-width: 870px) {
      padding: 15px 32px;
    }
    @media (max-width: 520px) {
      padding: 15px 18px;
    }

    &.scrolled {
      // padding: 8px 32px;
      padding: 17px 32px;
      @media (max-width: 870px) {
        // padding: 12px 28px 8px;
      }
      @media (max-width: 520px) {
        // padding: 12px 28px 0;
      }
    }

    .shopping-bag-title {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: -0.6px;
      display: flex;             
      align-items: center;       
      gap: 4px;                  
      .item-count{
        font-size: 1rem;
        font-weight: normal;
        letter-spacing: 0px;
        color:#525253;
      }
    }

    .close-btn {
      background-color: #fff;
      border: none;
      cursor: pointer;
      width: 68px;
      height: 42px;
      padding: 10px 14px;
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0.5px 2px rgba(8, 8, 8, 0.18) !important;

      img {
        width: 20px;
        height: 20px;
      }

      &:hover{
        background-color: #e5341d;
        img{
          filter: invert(1);
        }
        // filter: invert(12%) sepia(98%) saturate(7456%) hue-rotate(1deg)
          // brightness(95%) contrast(112%);
      }
    }
  }

  .cart-drawer-body {
    flex: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    max-height: calc(100dvh - 200px);
    background-color: #f2f2f9;

    &.empty {
      justify-content: center;
      align-items: center;
      text-align: center;

      p {
        color: #666;
        font-size: 1rem;
        opacity: 0.8;
      }
    }

    p {
      text-align: center;
      color: #666;
    }

    .cart-item-wrapper {
      display: flex;
      cursor: grab;
      position: relative;
      align-items: center;

      .button-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .remove-item-btn {
          opacity: 0;
          visibility: hidden;
          width: 0;
          height: 0;
          transform: scale(0.8);
          transition:
          opacity 0.25s ease,
          transform 0.25s ease,
          visibility 0.25s,
          width 0.15s ease-out,
          height 0.25s ease;
          background-color: #fff;
          border: none;
          border-radius: 18px;
          box-shadow: 0 1px 2px rgba(8, 8, 8, 0.23);
          cursor: pointer;

          img {
            opacity: 0.75;
            transform: scale(0.7);
            width: 100%;
            height: 100%;
          }

          &:hover {
            background-color: #e5341d;

            img {
              opacity: 1;
              filter: invert(1);
            }
          }
        }
      }

      &:hover {
        gap: 12px;
        .button-wrapper{
          // display: flex;
        }
        
        .remove-item-btn {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
          width: 24px;
          height: 24px;
        }
      }
    }

    
    .cart-item {
      flex: 1;
      display: flex;
      align-items: center;
      background-color: #fbfbfb;
      border-radius: 12px;
      box-shadow: 0 0.5px 2px rgba(8, 8, 8, 0.13) !important;
      overflow: hidden;
      height: 76px;
      padding: 12px 0 12px 12px;
      min-height: 76px;
      transition: transform 0.05s ease-out, box-shadow 0.05s ease-out;

      &:hover {
        // transform: scale(1.01);
        box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.15) !important;
        background-color: #fff;
        // cursor: pointer;
      }

      .item-image img {
        width: 52px;
        height: 52px;
        object-fit: cover;
        border-radius: 8px;
        margin-left: 8px;
        margin-right: 8px;
        // padding: 8px;
      }

      .item-details {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 1.15;
        margin-left: 8px;

        .item-name {
          font-weight: 700;
          font-size: 0.9rem;
        }
        .item-unit-price {
          font-size: 0.8rem;
          color: #828283;
          margin-bottom: 3px;
          margin-top:1.5px;
        }
        .item-total-price {
          font-size: 0.8rem;
          color: #626263;
          font-weight: bold;
        }
      }

      .item-quantity-controls {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .bag-quantity-control {
          border: none;
          width: 25.5px;
          height: 25.5px;
          transition: all 0.02s ease;
          // background-color: transparent;
          // color:#000;

          &.btn {
            border: none;
            background-color: transparent;
            color: #000;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
              background-color: #249433;
              color: #fff;
            }
          }
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #424243;
          color: #fff;
          font-size: 0.85rem;
          font-weight: 500;
        }
      }
    }
  }

  .cart-drawer-footer {
    padding: 16px 24px;
    border-top: 1px solid #d2d2d9;
    background-color: #e2e2e9 !important;
    margin-top: auto;
    min-height: 32px;

    .total-amount {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 12px;
      text-align: right;
    }

    .clear-cart-btn {
      background-color: #e53935;
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 8px 12px;
      font-size: 0.9rem;
      font-weight: 600;
      margin-bottom: 12px;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #d32f2f;
      }
    }
    .checkout-text{
      // margin: 12px auto;
      margin-bottom: 16px;
      // background-color: red;
      width: 100%;
      color:#727273;
      font-size: 0.86rem;
      text-align: center;
      // font-weight: 300;
    }
    .checkout-btn {
      width: 100%;
      height: 56px;
      border: none;
      border-radius: 12px;
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
      background-color: #28a739;
      cursor: pointer;
      transition: background-color 0.05s ease-out;
      box-shadow: 0 1px 2px rgba(8, 8, 8, 0.23) !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 24px;
      &:disabled {
        background-color: #c2c2c3; 
        color: #f2f2f3;            
        box-shadow: none;           
        cursor: not-allowed;        
        opacity: 0.6;               

        &:hover {
          background-color: #c2c2c3;  
          color: #f2f2f3;               
        }
      }

      &:hover {
        background-color: #28A438;
        color: #ebcf33;
      }
    }
  }
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color:rgba(8, 8, 8, 0.88);
  backdrop-filter: saturate(180%) blur(0.5px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 2000;

  width: 66vw;

  min-width: calc(100vw - 520px);
  .trashcan-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;

    img {
      width: 64px;
      height: 64px;
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.dark-mode {
  .cart-drawer {
    background-color: #121213;
    box-shadow: -1px 1px 2px rgba(23, 23, 23, 0.17) !important;

    .cart-drawer-header {
      // border-bottom: 1px solid #333;
      background-color: #121213;

      .shopping-bag-title {
        color: #f2f2f3;
        .item-count{
          font-size: 1rem;
          font-weight: normal;
          letter-spacing: 0px;
          color:#b2b2b3;
        }
      }

      .close-btn {
        background-color: #222223;
        box-shadow: 0px 0.5px 2px #87878740 !important;

        img {
          filter: invert(1);
        }

        &:hover {
          background-color: #e5341d;
          img {

          }
          // filter: invert(12%) sepia(98%) saturate(7456%) hue-rotate(1deg)
          //   brightness(95%) contrast(112%);
        }
      }
    }

    .cart-drawer-body {
      background-color: transparent;
      &.empty p {
        color: #aaa;
      }

      p {
        color: #aaa;
      }

      .cart-item-wrapper {
        .remove-item-btn {
          background-color: #222223;
          img{
            filter: invert(0.8);
          }
          &:hover {
            color: #ff6b6b;
          }
        }
      }

      .cart-item {
        background-color: #222223;

        .item-details {
          .item-name {
            color: #f2f2f3;
          }
          .item-unit-price {
            color: #bbb;
          }
          .item-total-price {
            color: #ddd;
          }
        }

        .item-quantity-controls {
          .bag-quantity-control{
            // background-color: #f2f2f3;
            // color:#000;
            &.btn{
              // background-color: transparent;
              color:#fff;

            }
          }
        }
      }
    }

    .cart-drawer-footer {
      border-top: 1px solid #333;
      background-color: #222223 !important;

      .total-amount {
        color: #f2f2f3;
      }

      .checkout-btn {
        background-color: #28a739;

        &:hover {
          background-color: #28A438;
          color: #ebcf33;
        }
        &:disabled {
          background-color: #525253;   
          color: #828283;              
          box-shadow: none;
          cursor: not-allowed;
          opacity: 0.6;

          &:hover {
            // background-color: #424243;  
            // color: #727273;
          }
        }
      }
    }
  }

  .cart-overlay {
    background-color: rgba(0, 0, 0, 0.85);
  }
}
