.browse-title-wrap {
  background-color: #020203;
  position: relative;
  margin: 0 auto 0px;
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;

  .browse-title {
    display: flex;
    align-items: center;
    padding: 20px 32px;
    gap: 8px;
    font-size: inherit;
    font-weight: inherit;
    color: #f2f2f3;
    margin: 0 auto;

    .view-all-link {
      margin-left: auto;
      font-size: 1rem;
      font-weight: 400;
      color: #ebebeb;
      &:hover {
        color: #fff;
        cursor: pointer;
        text-decoration: underline;
      }
      @media (max-width: 520px) {
        display: none;
      }
    }

    @media (max-width: 520px) {
      font-size: 1.4rem;
      padding: 12px 16px;
      text-align: center;
      justify-content: center;
    }

    .custom-dropdown {
      position: relative;
      display: flex;
      align-items: center;
      // Use gap for spacing instead of margin
      gap: 16px;
      transition: gap 0.35s ease-out;
      @media (max-width: 520px) {
      }

      // When the container is hovered, expand the gap and reveal items
      &:hover {
        gap: 16px;
        .dropdown-item:not(.active) {
          max-width: 150px;
          opacity: 1;
        }
      }
    }
  }

  .dropdown-item {
    cursor: pointer;
    // Removed margin-left from transition
    transition: max-width 0.35s ease-out, opacity 0.3s ease-out, color 0.08s ease;
    white-space: nowrap;

    .item-text {
      position: relative;
      display: inline-block;
      font-weight: bold;
      &::after {
        content: "";
        position: absolute;
        bottom: -4.5px;
        left: 0;
        width: 100%;
        height: 2.5px;
        background-color: transparent;
        border-radius: 4px;
        transition: background-color 0.2s ease;
      }
    }

    &.active {
      font-weight: 700;
      color: #f2f2f3;
      .item-text::after {
        background-color: #e5341d;
      }
    }

    &:not(.active) {
      // max-width: 0;
      // opacity: 0;
      // overflow: hidden;
      color: #a2a2a3;
      font-weight: 400;
      // margin-left is no longer needed here
      &:hover {
        color: #f2f2f3;
        .item-text::after {
          // background-color: #e5341d;
        }
      }
    }
  }

  @media (max-width: 520px) {
    font-size: 1.5rem;
    text-align: center;
    .browse-title {
      flex-wrap: wrap;
      gap: 4px;
    }
  }
}

:root.dark-mode {
  .browse-title-wrap {
    background-color: #1e1e1f;
    .browse-title {
      color: #f8f8f9;
    }
    .dropdown-item {
      &.active {
        color: #f8f8f9;
      }
      &:not(.active) {
        color: #c8c8c8;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}