// @import './assets/fonts/fonts.scss';

body{
  background-color: var(--background-color);
  // background-color: red;
  
  
  div{
    // background-color: #000;

  
  }
}

:root {
  --background-color: #ffffff;
  // max-width: 1180px;
}

.dark-mode {
  
  --background-color: #000000;
}

// html, body {
//   // light mode background, includes safe area
//   background-color: #fff; 
// }

// // dark mode background, includes safe area
// html.dark-mode, body.dark-mode {
//   background-color: #000; 
// }



html, body {
  height: 100%;
  margin: 0 !important;
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

.cg-root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color:#fff;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  
  max-width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}









.lang-selector-wrap {
  position: relative;
  display: inline-block;
}

.lang-button{
  background-color: transparent;
  border:none;
  cursor: pointer;
  font-weight: 500;

}







.cg-signup-disclaimer {
  font-size: 0.8rem;
  // max-width: 487px;
  color: #222;
  text-align: right;
  // margin-bottom: 7px;
}
.cg-social-icons {
  display: flex;
  flex-direction: row;
  gap: 18px;
  margin-top: 8px;
}
.cg-social-icons img {
  display: block;
  width: 23px;
  height: 23px;
}




@keyframes floatIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  20% {
    transform: translateY(10px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floatRight {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  20% {
    transform: translateX(-10px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes floatLeft {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  20% {
    transform: translateX(10px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes floatDown {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  20% {
    transform: translateY(-10px);
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.dark-mode-toggle {
  background-color:transparent;
  
  font-weight: 500;
  
  cursor: pointer;
}

/* Dark Mode */
.dark-mode {
  .cg-root{
    background-color:#000000;
    color: #e2e2e3;
  }
  
  .cg-searchbar {
    background-color: #e2e2e3;
  }
  


  .cg-join-btn{
    // background-color: #000;
    // color:white;
    border: 2px solid white;
    &:hover{
      background-color: #ff4c4c;
      border: 2px solid #ff4c4c;
    }
  }

  .cg-email-input {
    background-color:transparent;
    color: #e2e2e3 !important;
    // border-bottom: 1px solid #e2e2e3;
  }

  .dark-mode-toggle {
    color: #e2e2e3;
  }
}