.flex-wrapper-main-layout{
    height: 100dvh;
    .main-layout-wrap{
        height: 100%;
    }
}



.flex-wrapper-account-layout{
    
    height: 100dvh;
    max-height: 100dvh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    &.legal{
        .cg-header{
            background-color: #222223;
            .cg-header-left {
                align-items: center;
            }
        }
        .about-page{
            .cg-header{
                background-color: #fff;
            }
        }
    }
    .cg-header{
        // height: 139px;
        display: flex;
        // padding: 0px;
        // margin-top: auto;
        background-color: transparent;
        justify-content: center;
        &.scrolled{
            box-shadow: none !important;
        }
        
        // margin-bottom: 0;
        .cg-header-left{
            // margin-top: auto;
            // margin-bottom: 0;
            display: flex;
            // padding: 0px;
            // margin-top: auto;
            // background-color: #f2f2f3;
            justify-content: center;
            height: 100%;
            .logo-container{
            // margin-top: auto;
            // margin-bottom: 0;
            }
        }
    }
    .site-footer{
        background-color: transparent;
    }
    .main-account{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: #f2f2f9;
        @media (max-width: 520px) {
            // background-color: #f8f8fb;
        }
    }
}

.dark-mode{
    .flex-wrapper-account-layout{
        .cg-header{
            background-color: #020203 !important;
            &.scrolled{
                box-shadow: none !important;
            }
        }
        
        .main-account{
            background-color: #0b0b0b;
        }
    }
}